if SHIELD_FLIPFLOP_LEFT

config ZMK_KEYBOARD_NAME
    default "Flipflop"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_FLIPFLOP_LEFT || SHIELD_FLIPFLOP_RIGHT

config ZMK_SPLIT
    default y

endif